function ScrLimits.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 255
pop this 0
push constant 511
pop this 1
push pointer 0
return
function ScrLimits.screenBottom 0
push argument 0
pop pointer 0
push this 0
return
function ScrLimits.screenRight 0
push argument 0
pop pointer 0
push this 1
return
